.DS_Store
__pycache__/
deliverables/.DS_Store

src/CELaRe/CELaRe.egg-info/
src/CELaRe/celare/__pycache__/

wandb/
src/wandb
src/experiments/wandb

src/experiments/weights/*
!src/experiments/weights/2024-08-17_15-00-54__config__LunarLander-v2__6__step-1576960_checkpoint.pth
!src/experiments/weights/2024-08-19_12-14-38__config__CartPole-v1__1__step-999936_checkpoint.pth

src/experiments/__pycache__/
src/experiments/config/__pycache__/
src/experiments/training/__pycache__/

src/experiments/visualizations/animation.mp4
src/experiments/visualizations/data/trajectories.csv

agent_*.log
